.search-movie-wrapper {
  padding: 50px;
  .input-search {
    display: block;
    font-size: 18px;
    line-height: 1.33;
    color: #333;
    height: 44px;
    padding: 13px 16px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-sizing: border-box;
    width: 600px;
  }

  .desc-part {
    color: grey;
  }
}